body {
    margin: 0 10px;
    height: 100vh;
    background-color: black;
    color: #d9d9d9;
    font-family: 'Segoe UI';
    display: flex;
    justify-content: center;
    align-items: center;
}
#main {
    width: 400px;
    display: grid;
    gap: 10px;
}
.button {
    border-radius: 8px;
    height: 46px;
    color: black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    overflow: hidden;
    border-radius: 8px;
    height: 200px;
    background-color: #141414;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#switch {
    background-color: #141414;
}
#switch:hover {
    background-color: #232323;
}
#tf {
    height: 46px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
#true {
    background-color: #20b25d;
}
#true:hover {
    background-color: #28d670;
}
#false {
    background-color: #dc294d;
}
#false:hover {
    background-color: #ff2f59;
}
svg {
    height: 24px;
    width: 24px;
}
.path-white {
    fill: #d9d9d9;
}
.show {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.show:hover {
    background-color: #232323;
}
.hide {
    display: none;
}
.nope {
    visibility: hidden;
}
.no {
    display: none;
}
.yes {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    background-color: #141414;
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.retry {
    position: absolute;
    bottom: 70px;
    cursor: pointer;
    border-radius: 8px;
    height: 46px;
    width: 300px;
    background-color: #232323;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.retry {
    background-color: #2e2e2e;
}
.yey {
    position: absolute;
    top: 100px;
    height: 96px;
    width: 96px;
}
.wow {
    fill: #d9d9d9;
}
@media (max-width: 520px) {
	.yes {
        width: 100%;
        height: 100vh;
    }
}